{{>header}}
{{>navbar}}

{{>breadcrum}}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-6 col-sm-8 col-11 m-auto">
            <h5 class="bg-primary text-center p-2 text-light">Reset Password</h5>
            <form action="/forget-password-2" method="post">
                <div class="mb-3">
                    <input type="number" name="otp"
                        placeholder="Enter OTP which is Sent on Your Registered Email Address"
                        class="form-control border-3 {{#if errorMessage}} border-danger {{else}} border-primary {{/if}}">
                    {{#if errorMessage}}
                    <p class="text-danger">{{errorMessage}}</p>
                    {{/if}}
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Submit OTP</button>
                </div>
            </form>
            <a href="/login">Login</a>
        </div>
    </div>
</div>


{{>footer}}