{{>header}}

{{>navbar}}

<!-- Hero Section -->
<section id="hero" class="hero section light-background">

    <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
            <h2>WELCOME TO MEDILAB</h2>
            <p>We are a team of experienced healthcare professionals providing quality medical services with compassion,
                supported by modern technology and expert care across various specialties.</p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
                    <h3>Why Choose Medilab?</h3>
                    <p class="text-justify">
                        MediLab offers expert medical care across multiple specialties with a team of highly qualified
                        doctors, state-of-the-art facilities, and patient-first approach. From accurate diagnostics to
                        advanced treatments, we ensure compassionate, personalized healthcare for every patient—making
                        MediLab a trusted choice for quality and excellence in medical services.
                    </p>
                    <div class="text-center">
                        <a href="/about" class="more-btn"><span>Learn More</span> <i
                                class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="d-flex flex-column justify-content-center">
                    <div class="row gy-4">

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                                <i class="bi bi-clipboard-data"></i>
                                <h4>Our Services</h4>
                                <p class="text-justify">At MediLab, we provide expert medical care across multiple specialties, including Cardiology, Neurology, Physiotherapy, and Eye Care, ensuring advanced treatments, compassionate care, and patient-centered healthcare solutions.</p>
                                <a href="/service" class="btn btn-primary">View More</a>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                                <i class="bi bi-gem"></i>
                                <h4>Our Departments</h4>
                                <p class="text-justify">Our departments at MediLab include Cardiology, Neurology, Pediatrics, Hepatology, Physiotherapy, and Eye Care, offering specialized treatments, advanced diagnostics, and expert medical care for comprehensive patientc</p>
                                <a href="/department" class="btn btn-primary">View More</a>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                                <i class="bi bi-inboxes"></i>
                                <h4>Our Doctors</h4>
                                <p class="text-justify">Our doctors at MediLab are experts in their respective fields, combining years of experience with a compassionate approach to deliver accurate diagnoses, effective treatments, and personalized care for every patient..</p>
                                <a href="/doctor" class="btn btn-primary">View More</a>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>
            </div>
        </div><!-- End  Content-->

    </div>

</section><!-- /Hero Section -->

{{>about}}
{{>service}}
{{>appointment}}
{{>department}}
{{>doctor}}
{{>faq}}
{{>testimonial}}
{{>gallery}}
{{>contact}}

{{>footer}}