<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="bg-primary py-4 mb-2">
    <ol class="breadcrumb ms-5">
        <li class="breadcrumb-item text-light"><a href="/" class="text-light">Home</a></li>
        <li class="breadcrumb-item text-light" aria-current="page">{{titleHelper2 title}}</li>
    </ol>
</nav>